* {
    -monet-primary: rgb(163, 201, 254);
    -monet-on-primary: rgb(0, 49, 91);
    -monet-primary-container: rgb(30, 72, 118);
    -monet-on-primary-container: rgb(211, 228, 255);
    -monet-primary-fixed: rgb(211, 228, 255);
    -monet-primary-fixed-dim: rgb(163, 201, 254);
    -monet-on-primary-fixed: rgb(0, 28, 56);
    -monet-on-primary-fixed-variant: rgb(30, 72, 118);
    -monet-secondary: rgb(187, 199, 219);
    -monet-on-secondary: rgb(38, 49, 65);
    -monet-secondary-container: rgb(60, 71, 88);
    -monet-on-secondary-container: rgb(215, 227, 248);
    -monet-secondary-fixed: rgb(215, 227, 248);
    -monet-secondary-fixed-dim: rgb(187, 199, 219);
    -monet-on-secondary-fixed: rgb(17, 28, 43);
    -monet-on-secondary-fixed-variant: rgb(60, 71, 88);
    -monet-tertiary: rgb(216, 189, 227);
    -monet-on-tertiary: rgb(60, 41, 71);
    -monet-tertiary-container: rgb(84, 63, 94);
    -monet-on-tertiary-container: rgb(245, 217, 255);
    -monet-tertiary-fixed: rgb(245, 217, 255);
    -monet-tertiary-fixed-dim: rgb(216, 189, 227);
    -monet-on-tertiary-fixed: rgb(38, 20, 49);
    -monet-on-tertiary-fixed-variant: rgb(84, 63, 94);
    -monet-error: rgb(255, 180, 171);
    -monet-on-error: rgb(105, 0, 5);
    -monet-error-container: rgb(147, 0, 10);
    -monet-on-error-container: rgb(255, 218, 214);
    -monet-surface: rgb(17, 20, 24);
    -monet-on-surface: rgb(225, 226, 232);
    -monet-surface-dim: rgb(17, 20, 24);
    -monet-surface-bright: rgb(55, 57, 62);
    -monet-surface-container-lowest: rgb(12, 14, 19);
    -monet-surface-container-low: rgb(25, 28, 32);
    -monet-surface-container: rgb(29, 32, 36);
    -monet-surface-container-high: rgb(39, 42, 47);
    -monet-surface-container-highest: rgb(50, 53, 58);
    -monet-surface-variant: rgb(67, 71, 78);
    -monet-on-surface-variant: rgb(195, 198, 207);
    -monet-background: rgb(17, 20, 24);
    -monet-on-background: rgb(225, 226, 232);
    -monet-outline: rgb(141, 145, 153);
    -monet-outline-variant: rgb(67, 71, 78);
    -monet-shadow: rgb(0, 0, 0);
    -monet-scrim: rgb(0, 0, 0);
    -monet-inverse-surface: rgb(225, 226, 232);
    -monet-inverse-on-surface: rgb(46, 48, 53);
    -monet-inverse-primary: rgb(57, 96, 143);
    -monet-surface-tint: rgb(163, 201, 254);
    -border-color-seat-table-cell: -monet-surface-dim;
}
