.root {
    -fx-background-color: #1e1f22;
    -fx-text-fill: white;
}

.label {
    -fx-padding: 1;
    -fx-text-fill: white;
}

.button,
.text-field,
.text-area {
    -fx-padding: 2;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #737b84;
    -fx-border-radius: 3;
    -fx-background-color: #1e1f22;
}

.button:hover {
    -fx-border-color: white;
}

.text-field:focused,
.text-area:focused {
    -fx-border-color: #2b64cf;
}

.text-area .content {
    -fx-background-color: #1e1f22;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.check-box {
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #1e1f22;
    -fx-background-color: #1d1d1f;
    -fx-background-radius: 2;
    -fx-border-color: #1e1f22;
    -fx-border-radius: 2;
}

.column-header {
    -fx-background-color: black;
}

.table-row-cell {
    -fx-background-color: #414145;
}

.table-row-cell:odd {
    -fx-background-color: #303035;
}

.table-cell {
    -fx-text-fill: white;
}

.large-box {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.license-text-area {
    -fx-font-family: monospace;
}