* {
    -monet-primary: rgb(57, 96, 143);
    -monet-on-primary: rgb(255, 255, 255);
    -monet-primary-container: rgb(211, 228, 255);
    -monet-on-primary-container: rgb(30, 72, 118);
    -monet-primary-fixed: rgb(211, 228, 255);
    -monet-primary-fixed-dim: rgb(163, 201, 254);
    -monet-on-primary-fixed: rgb(0, 28, 56);
    -monet-on-primary-fixed-variant: rgb(30, 72, 118);
    -monet-secondary: rgb(84, 95, 112);
    -monet-on-secondary: rgb(255, 255, 255);
    -monet-secondary-container: rgb(215, 227, 248);
    -monet-on-secondary-container: rgb(60, 71, 88);
    -monet-secondary-fixed: rgb(215, 227, 248);
    -monet-secondary-fixed-dim: rgb(187, 199, 219);
    -monet-on-secondary-fixed: rgb(17, 28, 43);
    -monet-on-secondary-fixed-variant: rgb(60, 71, 88);
    -monet-tertiary: rgb(108, 86, 119);
    -monet-on-tertiary: rgb(255, 255, 255);
    -monet-tertiary-container: rgb(245, 217, 255);
    -monet-on-tertiary-container: rgb(84, 63, 94);
    -monet-tertiary-fixed: rgb(245, 217, 255);
    -monet-tertiary-fixed-dim: rgb(216, 189, 227);
    -monet-on-tertiary-fixed: rgb(38, 20, 49);
    -monet-on-tertiary-fixed-variant: rgb(84, 63, 94);
    -monet-error: rgb(186, 26, 26);
    -monet-on-error: rgb(255, 255, 255);
    -monet-error-container: rgb(255, 218, 214);
    -monet-on-error-container: rgb(147, 0, 10);
    -monet-surface: rgb(248, 249, 255);
    -monet-on-surface: rgb(25, 28, 32);
    -monet-surface-dim: rgb(216, 218, 224);
    -monet-surface-bright: rgb(248, 249, 255);
    -monet-surface-container-lowest: rgb(255, 255, 255);
    -monet-surface-container-low: rgb(242, 243, 250);
    -monet-surface-container: rgb(236, 237, 244);
    -monet-surface-container-high: rgb(231, 232, 238);
    -monet-surface-container-highest: rgb(225, 226, 232);
    -monet-surface-variant: rgb(223, 226, 235);
    -monet-on-surface-variant: rgb(67, 71, 78);
    -monet-background: rgb(248, 249, 255);
    -monet-on-background: rgb(25, 28, 32);
    -monet-outline: rgb(115, 119, 127);
    -monet-outline-variant: rgb(195, 198, 207);
    -monet-shadow: rgb(0, 0, 0);
    -monet-scrim: rgb(0, 0, 0);
    -monet-inverse-surface: rgb(46, 48, 53);
    -monet-inverse-on-surface: rgb(239, 240, 247);
    -monet-inverse-primary: rgb(163, 201, 254);
    -monet-surface-tint: rgb(57, 96, 143);
    -border-color-seat-table-cell: -monet-surface-bright;
}
