.menu .label,
.label,.button,
.table-cell{
    -fx-text-fill:#dfe1e5;
}

.text-field,.text-area{
    -fx-border-color:#4e5157;
    -fx-text-fill:white;
}

.text-field,
.text-area,
.text-area .content{
    -fx-background-color:#1d1d1f;
}

.scroll-bar{
    -fx-background-color:#2d2d30;
}

.text-field:focused,
.text-area:focused,
.text-area:focused .content,
.button:hover,
.menu:hover,
.menu-item:focused{
    -fx-background-color:#65656b;
}

.button{
    -fx-background-color:#515156;
}

.menu-bar,.menu,.menu-item,.context-menu{
    -fx-background-color:#414145;
}

.table-view{
    -fx-background-color:#1d1d1f;
    -fx-border-color:black;
}

.table-view .column-header{
    -fx-background-color:#414145;
}

.table-row-cell{
    -fx-background-color:#2d2d30;
}

.table-row-cell:odd{
    -fx-background-color:#414145;
}

.tooltip{
    -fx-font-size:10px;
}

.mainPane{
    -fx-background-color:#2d2d30;
}

.dialog{
    -fx-background-color:#2d2d30;
    -fx-border-color:#4e5157;
}

.largeLabel{
    -fx-font-size:35px;
}

.middleLabel{
    -fx-font-size:24px;
}

.largeButton{
    -fx-font-size:22px;
}

.closeButton:hover{
    -fx-background-color: #c42b1c;
}
